body{
   
    background: rgb(170, 226, 170) url(saude-maconha.jpg);
    background-size:cover;
    background-attachment: fixed;
}
div{
    font-family: 'Oswald', Helvetica, sans-serif ; 
    font-variant:small-caps;
    font:thin italic small-caps,'Oswald',Helvetica,sans-serif;
    color:honeydew;
    text-align: center ;
    
}
.titulo{
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lobster';
    font: 'Lobster','Open Sans',sans-serif;
    color:honeydew;
    text-shadow: -4px 5px 10px black;
}
.bud-image:hover{
    opacity: 50%;
}
* {
    padding: 0;
    margin: 0;
    border: 0;

    box-sizing: border-box;
  }
  .wrapper>*{
      padding:2.5em;
  }
  .wrapper{
       color: aliceblue;
       display: flex;
       flex-direction: column;
      
  }
  .entry-menu, footer{
      background-color: rgb(95, 182, 95);
      opacity: 50%;
  }
  .nav{
      order:1;
      border-bottom: 1px solid grey;
  }
  article{
     order:0;
  }
  .banner{
      
      order: 1;
  }
  footer{
      order: 1;
  }
  ul{
      text-align: center;
  }
  .content{
    border-bottom: 1px solid grey;
  }
  .content2{
    border-bottom: 1px solid grey;
  }
  /* MENU RESPONSIVO  MOBILE*/
  nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
 #menu {
    display: none;
}
nav #menu:checked ~ ul{
    display:block;

}
nav ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    margin: 10px 0 0 0;
    padding:0;
    
}
nav ul li{
    flex:1 1 100%
}
nav ul li:not(.last){
    margin-bottom: 10px;

}
nav ul li a{
    background-color: rgb(8, 129, 34);
    padding: 10px 0;
    display:block;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255)
}
nav ul li a:hover{
    background-color: rgb(128, 196, 143);
}
.menu{
    padding: 10px;
    background-color: rgb(8, 129, 34);
    cursor:pointer;
    align-self: flex-end;
}
.menu:hover{
    background-color: rgb(141, 211, 156);
}
  @media screen and (min-width: 764px){
      .wrapper{
          flex-direction: row;
          flex-wrap: wrap;
          display:flex;
      }
      .nav, .banner{
          order:0;
          flex:1 0 20%;
          border-bottom: 1px solid grey;
      }
      .entry-menu{
          flex:1 0 100%;
      }
      footer{
          flex:1 0 100%;
          justify-self:flex-end;
          font-size:30px;
         
      }
      article{
          flex:1 0 60%;
          border-bottom: 1px solid grey;
      }
      .content2{
          flex:1 0 100%;
          border-bottom: 0;
      }
      /* MENU RESPONSIVO  DESKTOP*/
    nav {
        flex-direction: row; 
        
}
.menu{
        display:none;
}
nav ul {
        display:flex;
        width: 30%;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
}
nav ul li {
        flex: 0 1 31%;
        margin-bottom: 0 !important;
}
nav .menu {
            display: none;
    }
}
  